{% extends 'base.html' %} {% block bodyblock %}

<div class="container">
  <div class="row">
    <div class="col">
        <br><br>
      <!--form: Upload the image-->
      <h3 class="display-8">Gender Classification</h3>
      <p>
        Upload an image (.jpg,.jpeg,.png). Our model will first detect the faces
        and then will predict the gender {Male or Female} based on the detected faces.
      </p>

      <form action="#" method="POST" enctype="multipart/form-data">
        <div class="input-group">
            <input type="file" class="form-control" name="image_name" required>
            <input type="submit" value="Upload & Predict" class="btn btn-outline-warning">
        </div>
      </form>

    </div>
    <div class="col-8">
      <!--report of prediction -->
      {% if fileupload %}
      <br><br>
      <!--predicted image-->
      <h3 class="display-8">Predicted Image</h3>
      <img src="/static/predict/prediction_image.jpg" class="image-fluid" width="500" alt="">

      <hr>
      <br>
      <table class="table table-hover table-striped">
        <tr>
          <th>Detection Face</th>
          <th>Eigen Image</th>
          <th>Prediction Gender</th>
          <th>Score</th>
        </tr>
        {% for element in report %}
        <tr>
          <td>
            <img src="/static/predict/{{ element[0] }}" class="image-fluid" height="100">
          </td>
          <td>
            <img src="/static/predict/{{ element[1] }}" alt="" class="image-fluid" height="100">
          </td>
          <td>{{ element[2] }}</td>
          <td>{{ element[3] }}</td>
        </tr>

        {% endfor %}
      </table>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
